apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  labels:
    app: {{ .Release.Name }}
spec:
  type: {{ .Values.sqlOnFhir.service.type }}
  ports:
  - port: {{ .Values.sqlOnFhir.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ .Release.Name }}
